<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
  <link rel="icon" href="{{ url_for('static',filename='imagenes/minilogo.png')}}" type="image/x-icon">
  <title>Portal - Ecofriendly</title>
  <style>
     .ed-del {
            background-color: #fff;
            border-radius: 6px;
            border: 1px solid #ddd;
            font-size: 18px;
            margin: 0px 4px;
            padding: 6px;
        }

        .ed-del:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .bi-pencil-square {
            color: rgb(81, 81, 255);
        }

        .bi-trash-fill {
            color: rgb(255, 53, 53);
        }
  </style>
</head>
<body id="admin-p">
  <header class="header">
    {% if current_user.is_authenticated %}
    <h3>Hola, {{ current_user.nombre.split()[0].capitalize() }}</h3>
    {% endif %}
    <div class="cerrar-sesion">
        <a href="{{ url_for('auth.logout') }}" id="cerrar-s"><i class="bi bi-box-arrow-in-left"></i></a>
    </div>
  </header>
  <aside class="menu">
    <div>
        <img src="{{ url_for('static', filename='imagenes/minilogo.png') }}" alt="esta es una imagen" id="imagennn">
        <h4 style="text-align: center; color: #EEE">{{ current_user.rol }}</h4>
    </div>
    <nav>
        <ul class="nav-bar" id="nav-bar">
            {% if current_user.rol == 'ADMINISTRADOR' %}
            <li id=""><a href="{{ url_for('auth.cargar_perfil') }}">Perfil</a></li>
            <li id="opc-pub"><a href="{{ url_for('admin.publicaciones') }}">Publicaciones</a></li>
            <li id="opc-sol"><a href="{{ url_for('admin.solicitudes') }}">Solicitudes</a></li>
            <li id=""><a href="{{ url_for('admin.cargar_canjeos') }}">Canjeos</a></li>
            <li class="dropdown">
                Usuarios
                <div class="dropdown-content">
                    <ul>
                      <li id="opc-rec"><a href="{{ url_for('admin.recolectores') }}">Recolectores</a></li>
                      <li id="opc-admin"><a href="{{ url_for('admin.administradores') }}">Administradores</a></li>
                      <li id="opc-prov"><a href="{{ url_for('admin.proveedores') }}">Proveedores</a></li>
                    </ul>
                </div>
            </li>
            {% elif current_user.rol == 'RECOLECTOR' %}
            <li id=""><a href="{{ url_for('auth.cargar_perfil') }}">Perfil</a></li>
            <li id=""><a href="{{ url_for('recolector.recolector_home') }}">Solicitudes</a></li>
            <li id=""><a href="{{ url_for('recolector.cargar_historial') }}">Historial</a></li>
            {% elif current_user.rol == 'PROVEEDOR'%}
            <li id=""><a href="{{ url_for('auth.cargar_perfil') }}">Perfil</a></li>
            <li id=""><a href="{{ url_for('proveedor.proveedor_home') }}">Resumen</a></li>
            <li id=""><a href="{{ url_for('proveedor.cargar_canjeos') }}">Canjeos</a></li>
            <li id=""><a href="{{ url_for('proveedor.cargar_recolecciones') }}">Recolecciones</a></li>
            {% endif %}
        </ul>
    </nav>
  </aside>
  <main class="contenido">
    <div id="contenedor">
      {% block contenido_admin %}{% endblock %}
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener elementos del DOM
        var menuIcon = document.getElementById('menu-icon');
        var navBar = document.getElementById('nav-bar');

        // Agregar evento de clic al icono del menú
        menuIcon.addEventListener('click', function () {
            // Alternar la clase 'show' en la lista nav-bar al hacer clic
            navBar.classList.toggle('active');
        });
    });
</script>
  <script src="{{ url_for('static',filename='javascript/cerrarSesion.js') }}"></script>
</body>
</html>
