<!DOCTYPE html>
{% extends "layout.html" %}
{% block contenido_home %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-index.css') }}">
    <title>Blog - Ecofriendly MVD SAS</title>
</head>
<body>
    <main>
        <div class="cont-blog">
            <section class="noticias">
                <h3>Artículos y Noticias</h3>
                <div id="noticias-container" class="noticias-container">
                    
                </div>
                <div class="pagination">
                    <!-- <button id="prevPage">Anterior</button> -->
                    <i class="bi bi-arrow-left-circle-fill" id="prevPage"></i>
                    <span id="currentPage">1</span>
                    <i class="bi bi-arrow-right-circle-fill" id="nextPage"></i>
                    <!-- <button id="nextPage">Siguiente</button> -->
                </div>
            </section>
        </div>
    <!-- Agregar este código al final del bloque <body> -->
    <div id="dialogo" class="dialogo">
        <div class="contenido-dialogo">
            <span id="cerrar-dialogo" class="cerrar-dialogo">&times;</span>
            <h2 id="titulo-publicacion"></h2>
            <img id="imagen-publicacion" src="" alt="Imagen de la publicación">
            <p id="descripcion-publicacion"></p>
            <h6 id="fecha-publicacion"></h6>
        </div>
    </div>
    </main>
    <script src="{{ url_for('static',filename='javascript/contDinamico.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/paginacionBlog.js') }}"></script>

</body>
</html>
{% endblock %}