<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-dashboard-flex.css') }}">
    <title>Proveedor</title>
</head>
{% extends "administrador.html" %}
{% block contenido_admin %}
<body>
    <dialog id="contenedor-emergente" class="contenedor-pop-up">
        <i class="bi bi-x-circle" id="boton-cerrar" style="float: right; font-size: 25px; color:#127848"></i>
        <p>Señor(a) <span><b>{{ proveedor.nombre.split()[0].capitalize() }} {{ proveedor.nombre.split()[1].capitalize() }}</b></span></p>
        <p style="text-align: center;">Usted está a punto de enviar una solicitud de recolección,<br><b>recuerde que la solicitud será atendida<br>dentro de las próximas 48 horas hábiles.</b>.</p>
        <form class="form-solicitud">
            <label for="cantidad-aceite">Cantidad aproximada<br>(en litros)</label>
            <input id="cantidad-aceite" type="number">
            <label for="observaciones">Detalles</label>
            <textarea name="" id="observaciones" cols="30" rows="10"></textarea>
            <button type="submit" id="enviar-btn">Solicitar recolección</button>
        </form>
    </dialog>
    <div class="contendor-dashboard">
        <div class="puntos">
            <p class="texto-puntos">Tus puntos</p>
            <p class="numero-puntos">{{ proveedor.puntos }}</p>
            <button type="button">Canjear Puntos</button>
        </div>
        <div class="recoleccionpendiente">
            {% if solicitud_p %}
                <p class="texto-recoleccion">Usted tiene una solicitud pendiente<br>
                    <b>ID:</b> {{ solicitud_p.id_solicitud }}<br>
                    <b>Fecha:</b> {{ solicitud_p.fecha_solicitud }}<br>
                    <b>Estado:</b> {% if solicitud_p.estado.isnumeric() %}aceptada{% else %}{{ solicitud_p.estado }}{% endif %}
                </p>
            {% else %}
                <p class="texto-recoleccion">Usted no tiene solicitudes pendientes.</p>
            {% endif %}
            <button id="solicitador-recolecta" type="button">Solicitar recoleccion</button>
        </div>
        <div class="contenedor-historialrecolecciones">
            <p>Historial de recolecciones</p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cantidad aceite</th>
                        <th>Valor</th>
                        <th>Puntos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="historial-recolecciones">
                    {% for visita in visitas %}
                        <td>{{ visita.id }}</td>
                        <td>{{ visita.fecha }}</td>
                        <td>{{ visita.cantidad }}</td>
                        <td>{{ visita.valor }}</td>
                        <td>{{ visita.puntos }}</td>
                        <td><button class="ed-del eliminar" style="color:  #FF0000" title="Generar certificado"><i class="bi bi-file-earmark-pdf-fill"></i></button></td>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static',filename='javascript/dashboard.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/crearSolicitud.js') }}"></script>
</body>
{% endblock %}
</html>