<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
    <title>Historial</title>
</head>
{% extends "administrador.html" %}
{% block contenido_admin %}
<body>
    <div class="cont-tabla">
        <h2>Historial</h2>
        <table class="mostrar-publicaciones" style="overflow-y: scroll;">
            <thead style="position: sticky;">
                <tr>
                    <th scoope="col">ID</th>
                    <th scoope="col">Proveedor</th>
                    <th scoope="col">Fecha</th>
                    <th scoope="col">Cantidad</th>
                    <th scoope="col">Valor</th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar" id="recolector-tabla">
                {% for visita in visitas %}
                <tr>
                    <td>{{ visita.id }}</td>
                    <td>{{ visita.proveedor }}</td>
                    <td>{{ visita.fecha.strftime('%d/%m/%Y %I:%M %p') }}</td>
                    <td>{{ visita.cantidad }}</td>
                    <td>{{ visita.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <!-- <button id="prevPage">Anterior</button> -->
            <i class="bi bi-arrow-left-circle-fill" id="prevPage"></i>
            <span id="currentPage">1</span>
            <i class="bi bi-arrow-right-circle-fill" id="nextPage"></i>
            <!-- <button id="nextPage">Siguiente</button> -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/paginacion.js') }}"></script>
</body>
{% endblock %}
</html>