<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css')}}">
    <title>Inicia sesion - Ecofriendly</title>
</head>
<body style="padding-top: 12%; overflow: hidden">
    <div class="cont-login">
        <h3>Login</h3>
        <form id="loginForm">
            <div class="label-login">
                <label for="">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Usuario" autocomplete="off" style="width: 100%;">
            </div>
            <div class="label-login">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" style="width: 100%;">
            </div> 
            <div>
                <button class="btn-login" type="button" id="loginButton">Ingresar</button>
            </div>
            <div class="label-login">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
</body>
</html>