<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-registro-recolectores.css') }}"> -->
    <title>Inicia sesion - Ecofriendly</title>
</head>
<body style="padding-top: 12%; overflow: hidden">
    <div class="cont-login">
        <h3>Login</h3>
        <form id="loginForm">
            <div class="label-login">
                <label for="">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Usuario" autocomplete="off" style="width: 100%;">
            </div>
            <div class="label-login">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" style="width: 100%;">
            </div> 
            <div>
                <button class="btn-login" type="button" id="loginButton">Ingresar</button>
                <button class="btn-login btn-agregar nuevo-usuario" type="button">Registrarse</button>
                <a href="#" style="text-align: center; width: 100%;">¿Olvidaste tu contraseña?</a>
            </div>
            <!-- <div class="label-login">
            </div>
            <div>
            </div> -->
        </form>
    </div>
    <div id="loadingOverlay">
        <div class="spinner"></div>
    </div>
    <div id="fondo-oscuro" class="fondo-oscuro"></div>
    <div class="contenedor-formulario formulario-emergente" id="formulario-emergente">
        <div style="margin-bottom: 8%;"><i class="bi bi-x-circle" id="btn-cerrar" style="float: right; font-size: 25px; color:#127848"></i></div>
        <form action="" class="form-registro">
          <div class="seccion-form">
          <label for="tipo_proveedor">¿Qué tipo de proveedor eres</label>
          <select name="tipo_proveedor" id="tipo_proveedor">
            <option value="">Selecciona una</option>
            <option value="1">Persona</option>
            <option value="2">Empresa</option>
          </select>
          </div>
          <div class="seccion-form">
          <label for="id_proveedor">Numero de documento</label>
          <input id="id_proveedor" name="id_proveedor" type="text">
          </div>
          <div class="seccion-form">
          <label for="nombre_completo">Nombre completo</label>
          <input id="nombre_completo" name="nombre_completo" type="text" pattern="{5,250}">
          </div>
          <div class="seccion-form">
          <label for="correo">Correo electrónico</label>
          <input type="email" name="correo" id="correo">
          </div>
          <div class="seccion-form">
          <label for="celular">Celular</label>
          <input type="tel" name="celular" id="celular">
          </div>
          <div class="seccion-form">
          <label for="direccion">Dirección</label>
          <input type="text" name="direccion" id="direccion" pattern="{5,250}">
          </div>
          <div class="seccion-form">
          <label for="comuna">Comuna</label>
          <select name="comuna" id="comuna">
            <option value="" disabled selected="true">Comuna</option>
                {% for comuna in comunas %}
                    <option value="{{ comuna.id_comuna }}">{{ comuna.comuna }}</option>
                {% endfor %}
          </select>
          </div>
          <div class="seccion-form">
          <label for="barrio">Barrio</label>
          <select name="barrio" id="barrio">
            <option value="" disabled selected="true">Barrio</option>
          </select>
          </div>
          <button class="btn-agregar" id="aggProveedor">Registrarse</button>
        </form>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='javascript/ventanasEmergentes.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/scriptProveedor.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/scriptBarrios.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
</body>
</html>