<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
    <title>Proveedores</title>
    <style>
        .modal {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 30%;
        }
        
        .label {
            margin-top: 4px;
            display: block;
        }
        
        .input-required,
        .input-file {
            margin-top: 5px;
        }
        
        .input-required {
            width: 100%;
            box-sizing: border-box;

        }

        .cont-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .guardar-cambios-btn {
            background-color: #127848;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .cancelar-btn {
            background-color: #ccc;
            color: #333;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
        }
        
        .guardar-cambios-btn:hover,
        .cancelar-btn:hover {
            filter: brightness(0.9);
        }       
    </style>
</head>
{% extends "administrador.html" %}
{% block contenido_admin %}
<body>
    <div class="filtro">
        <div class="input-filtro">
            <input type="number" name="" id="">
            <button id="btn-buscar-filtro"><i class="bi bi-search"></i></button>
        </div>
        <div>
            <button class="btn-agregar nuevo-usuario" id="n-proveedor">Registrar proveedor</button>
        </div>
    </div>   
    <div class="cont-tabla">
        <table class="mostrar-publicaciones" >
            <thead>
                <tr>
                    <th scoope="col">ID</th>
                    <th scoope="col">Nombre</th>
                    <th scoope="col">Correo</th>
                    <th scoope="col">Teléfono</th>
                    <th scoope="col">Comuna</th>
                    <th scoope="col">Tipo</th>
                    <th scoope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar" id="proveedor-tabla">
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.id_proveedor }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>{{ proveedor.celular }}</td>
                    <td>{{ proveedor.id_comuna }}</td>
                    <td>{% if proveedor.tipo_prov == 1 %}
                            PERSONA
                        {% elif proveedor.tipo_prov == 2 %}
                            EMPRESA
                        {% endif %}
                    </td>
                    <td><button class="ed-del"><i class="bi bi-trash-fill"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <!-- <button id="prevPage">Anterior</button> -->
            <i class="bi bi-arrow-left-circle-fill" id="prevPage"></i>
            <span id="currentPage">1</span>
            <i class="bi bi-arrow-right-circle-fill" id="nextPage"></i>
            <!-- <button id="nextPage">Siguiente</button> -->
        </div>
        <div id="loadingOverlay">
            <div class="spinner"></div>
        </div>
        <dialog class="modal" id="modal">
            <form action="" class="form-registro">
                <div class="cont-flex">
                    <div>
                        <label for="tipo_proveedor" class="label">¿Qué tipo de proveedor eres</label>
                        <select name="tipo_proveedor" id="tipo_proveedor" class="input-required">
                            <option value="" disabled selected>Selecciona una</option>
                            <option value="1">Persona</option>
                            <option value="2">Empresa</option>
                        </select>
                    </div>
                    <div>
                        <label for="id_proveedor" class="label">Numero de documento(CC o NIT)</label>
                        <input id="id_proveedor" name="id_proveedor" type="text"  class="input-required">
                    </div>
                </div>
                <br>
                <label for="nombre_completo" class="label">Nombre completo</label>
                <input id="nombre_completo" name="nombre_completo" type="text" pattern="{5,250}"  class="input-required">
                <label for="correo" class="label">Correo electrónico</label>
                <input type="email" name="correo" id="correo"  class="input-required">
                <label for="correo" class="label">Repita el correo electrónico</label>
                <input type="email" name="correo" id="correo-v"  class="input-required">
                <label for="celular" class="label">Celular</label>
                <input type="tel" name="celular" id="celular"  class="input-required">
                <br>
                <label for="direccion" class="label">Dirección</label>
                <input type="text" name="direccion" id="direccion" pattern="{5,250}"  class="input-required">
                <br>
                <div class="cont-flex">
                    <div>
                        <label for="comuna" class="label">Comuna</label>
                        <select name="comuna" id="comuna">
                          <option value="" disabled selected="true">Comuna</option>
                              {% for comuna in comunas %}
                                  <option value="{{ comuna.id_comuna }}">{{ comuna.comuna }}</option>
                              {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="barrio" class="label">Barrio</label>
                        <select name="barrio" id="barrio">
                          <option value="" disabled selected="true">Barrio</option>
                        </select>
                    </div>
                </div>
                <br>
                <button class="guardar-cambios-btn" id="aggProveedor">Registrar</button>
                <button class="cancelar-btn" id="cancelar-btn">Cancelar</button>
              </form>
        </dialog>
        <dialog class="modal" id="modal-ed">
            <form action="" class="form-registro">
                <div class="cont-flex">
                    <div>
                        <label for="tipo_proveedor" class="label">¿Qué tipo de proveedor eres</label>
                        <select name="tipo_proveedor" id="tipo_proveedor" class="input-required">
                            <option value="" disabled selected>Selecciona una</option>
                            <option value="1">Persona</option>
                            <option value="2">Empresa</option>
                        </select>
                    </div>
                    <div>
                        <label for="id_proveedor" class="label">Numero de documento(CC o NIT)</label>
                        <input id="id_proveedor" name="id_proveedor" type="text"  class="input-required">
                    </div>
                </div>
                <br>
                <label for="nombre_completo" class="label">Nombre completo</label>
                <input id="nombre_completo" name="nombre_completo" type="text" pattern="{5,250}"  class="input-required">
                <label for="correo" class="label">Correo electrónico</label>
                <input type="email" name="correo" id="correo"  class="input-required">
                <label for="correo" class="label">Repita el correo electrónico</label>
                <input type="email" name="correo" id="correo-v"  class="input-required">
                <label for="celular" class="label">Celular</label>
                <input type="tel" name="celular" id="celular"  class="input-required">
                <br>
                <label for="direccion" class="label">Dirección</label>
                <input type="text" name="direccion" id="direccion" pattern="{5,250}"  class="input-required">
                <br>
                <div class="cont-flex">
                    <div>
                        <label for="comuna" class="label">Comuna</label>
                        <select name="comuna" id="comuna">
                          <option value="" disabled selected="true">Comuna</option>
                              {% for comuna in comunas %}
                                  <option value="{{ comuna.id_comuna }}">{{ comuna.comuna }}</option>
                              {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="barrio" class="label">Barrio</label>
                        <select name="barrio" id="barrio">
                          <option value="" disabled selected="true">Barrio</option>
                        </select>
                    </div>
                </div>
                <br>
                <button class="guardar-cambios-btn" id="aggProveedor">Registrar</button>
                <button class="cancelar-btn" id="cancelar-btn">Cancelar</button>
              </form>
        </dialog>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static', filename='javascript/scriptAdmin.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/paginacion.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/agregarProveedorAdm.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/filtro.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/scriptBarrios.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/gestionUsuarios.js') }}"></script>
</body>
{% endblock %}
</html>
