<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
    <title>Solicitudes</title>
    <style>
        .modal {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        
        .label {
            margin-top: 10px;
            display: block;
        }
        
        .input-disabled {
        cursor: not-allowed;
        }
        
        .input-required,
        .input-file {
            margin-top: 5px;
        }
        
        .input-required {
            width: 100%;
        }
        
        .input-file {
            width: calc(100% - 20px); /* Para ajustar el ancho y considerar el padding del modal */
        }
        
        .guardar-cambios-btn {
            background-color: #127848;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .cancelar-btn {
            background-color: #ccc;
            color: #333;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
        }
        
        .guardar-cambios-btn:hover,
        .cancelar-btn:hover {
            filter: brightness(0.9);
        }

        #detalle {
            height: 60px;
        }
        
    </style>
</head>
{% extends "administrador.html" %}
{% block contenido_admin %}
<body>
    <div id="loadingOverlay">
        <div class="spinner"></div>
    </div>
    <div class="menu-tablas" style="display: flex; justify-content: space-around; padding: 20px 40px; width: 90%; margin: auto; border-bottom: 2px solid #e6e6e6;">
        <span>Solicitudes pendientes</span>
        <span>Solicitudes asignadas</span>
        <span>Solicitudes vencidas</span>
        <span>Historial de visitas</span>
        <button class="btn-verde" id="formulario-sol">Crear solicitud</button>
    </div>
    <div class="cont-tabla tabla-solicitud">
        <h4>SOLICITUDES PENDIENTES</h4>
        <div style="float: right;">
            <span>Seleccionar un recolector</span>
            <select name="" id="reco-select">
                <option value="null" selected>Sin asignar</option>
                {% for recolector in recolectores %}
                    <option value="{{ recolector.id }}">{{ recolector.nombre }}</option>
                {% endfor %} 
            </select>
        </div>
        <table class="mostrar-publicaciones">
            <thead>
                <tr>
                    <th scoope="col">ID de solicitud</th>
                    <th scoope="col">Proveedor</th>
                    <th scoope="col">Fecha</th>
                    <th scoope="col">Cantidad</th>
                    <th scoope="col"><input type="checkbox" name="" id="selectAllCheck" title="Seleccionar todos"></th>
                    <th scoope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar" id="tabla-pendientes">
                {% for solicitud in solicitudes %}
                    {% if solicitud.estado == 'pendiente' %}
                        <tr>
                            <td>{{ solicitud.id }}</td>
                            <td>{{ solicitud.proveedor }}</td>
                            <td>{{ solicitud.fecha }}</td>
                            <td>{{ solicitud.cantidad }}</td>
                            <td><input type="checkbox" name=""></td>
                            <td><button class="ed-del eliminar rechazar-sol" style="color: red;"><i class="bi bi-x-lg"></i></button></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div><button class="btn-agregar" id="asignar-rec">Asignar</button></div>
    </div>
    <div class="cont-tabla tabla-solicitud">
        <h4>SOLICITUDES ASIGNADAS</h4>
        <div style="float: right;">
            <span>Asignar a otro recolector</span>
            <select name="" id="a-reco-select">
                <option value="null" selected>Seleccionar</option>
                {% for recolector in recolectores %}
                    <option value="{{ recolector.id }}">{{ recolector.nombre }}</option>
                {% endfor %} 
            </select>
        </div>
        <table class="mostrar-publicaciones">
            <thead>
                <tr>
                    <th scoope="col">ID de solicitud</th>
                    <th scoope="col">Proveedor</th>
                    <th scoope="col">Fecha</th>
                    <th scoope="col">Cantidad</th>
                    <th scoope="col">Asignado</th>
                    <th>Token</th>
                    <th scoope="col"><input type="checkbox" id="a-todos-sel"></th>
                    <th scoope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar"  id="tabla-asignadas">
                {% for solicitud_a in solicitudes_a %}
                        <tr>
                            <td>{{ solicitud_a.id }}</td>
                            <td>{{ solicitud_a.id_proveedor }}</td>
                            <td>{{ solicitud_a.fecha }}</td>
                            <td>{{ solicitud_a.cantidad }}</td>
                            <td>{{ solicitud_a.asignado }}</td>
                            <td>{{ solicitud_a.token }}</td>
                            <td><input type="checkbox" name="" id=""></td>
                            <td><button class="ed-del eliminar rechazar-sol" style="color: red;" title="Cerrar solicitud"><i class="bi bi-x-lg"></i></button></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><button class="btn-agregar" id="reasignar-rec">Re-asignar</button></div>
    </div>
    <div class="cont-tabla tabla-solicitud">
        <h4>SOLICITUDES VENCIDAS</h4>
        <table class="mostrar-publicaciones">
            <thead>
                <tr>
                    <th scoope="col">ID de solicitud</th>
                    <th scoope="col">Proveedor</th>
                    <th scoope="col">Fecha</th>
                    <th scoope="col">Cantidad</th>
                    <th scoope="col"><input type="checkbox" name="" id="" title="Seleccionar todos"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar" id="proveedor-tabla">
                {% for solicitud_v in solicitudes_v %}
                        <tr>
                            <td>{{ solicitud_v.id }}</td>
                            <td>{{ solicitud_v.proveedor }}</td>
                            <td>{{ solicitud_v.fecha_solicitud }}</td>
                            <td>{{ solicitud_v.cantidad }}</td>
                            <td><input type="checkbox"></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="cont-tabla tabla-solicitud">
        <h4>HISTORIAL DE VISITAS</h4>
        <table class="mostrar-publicaciones">
            <thead>
                <tr>
                    <th scoope="col">ID visita</th>
                    <th scoope="col">Proveedor</th>
                    <th scoope="col">Fecha</th>
                    <th scoope="col">Cantidad Kg</th>
                    <th scoope="col">Valor</th>
                    <th scoope="col">Puntos</th>
                    <th scoope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider tabla-mostrar" id="proveedor-tabla">
                {% for visita in visitas %}
                    <tr>
                        <td>{{ visita.id }}</td>
                        <td>{{ visita.proveedor }}</td>
                        <td>{{ visita.fecha }}</td>
                        <td>{{ visita.cantidad }}</td>
                        <td>${{ visita.valor }}</td>
                        <td>{{ visita.puntos }}</td>
                        <td><button class="ed-del eliminar" style="color:  #FF0000" title="Generar certificado"><i class="bi bi-file-earmark-pdf-fill"><a href="/generar_pdf/{{ visita.id }}" target="_blank" style="color: #000">Certificado</a></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <dialog id="modal" class="modal">
        <form action="">
            <label for="proveedor" class="label">Proveedor*</label>
            <select name="proveedor" id="proveedor-id">
                <option value="" selected></option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
            <label for="cantidad" class="label">Cantidad aprox*</label>
            <input type="number" id="cantidad-aceite" name="cantidad" required class="input-required">
            <br>
            <label for="detalle" class="label">Detalle(opcional)</label>
            <textarea id="detalle" name="detalle" required class="input-required"></textarea>
            <br>
            <button id="enviar-solicitud" class="guardar-cambios-btn">Crear solicitud</button>
            <button id="cancelar-env" class="cancelar-btn">Cancelar</button>
        </form>
    </dialog>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static',filename='javascript/tablasDinamicas.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/scriptAsignarRecolector.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/crearSolicitudAdm.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/paginacion.js') }}"></script>
</body>
{% endblock %}
</html>
