<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilo-admin.css') }}">
    <title>Actualizar datos</title>
</head>
<body>
    <form action="/recolectores/editar-recolector/{{ recolector[0] }}" method="POST" class="form-registro nuevo-recolector">
        <label for="nombre" class="input-nombre input-cont">
            <span>Nombre</span>
            <input type="text" name="nombre" value="{{ recolector[1] }}" required autocomplete="off">
        </label>
        <label for="correo" class="input-correo input-cont">
            <span>Correo</span>
            <input type="email" name="correo" value="{{ recolector[2] }}" required autocomplete="off">
        </label>
        <label for="telefono" class="input-telefono input-cont">
            <span>Telefono</span>
            <input type="number" name="telefono" value="{{ recolector[3] }}" required autocomplete="off">
        </label>
        <label for="direccion" class="input-direccion input-cont">
            <span>Dirección</span>
            <input type="text" name="direccion" value="{{ recolector[4] }}" required autocomplete="off">
        </label>
        <div class="input-comuna input-cont">
            <span>Comuna</span>
            <select name="comuna">
                <option value="" selected="true">Comuna</option>
                <option value="1">COMUNA 1</option>
                <option value="2">COMUNA 2</option>
                <option value="3">COMUNA 3</option>
                <option value="4">COMUNA 4</option>
                <option value="5">COMUNA 5</option>
                <option value="6">COMUNA 6</option>
                <option value="7">COMUNA 7</option>
            </select>
        </div>
        <div class="input-barrio input-cont">
            <span>Barrio</span>
            <select name="barrio" id="id_barrio">
                <option value="" selected="true">Barrio</option>
                <option value="1">LA NUEVA ESPERANZA</option>
                <option value="2">EL CINCUENTENARIO ETAPA I</option>
                <option value="3">PROVIVIENDA</option>
            </select>
        </div>
        <div class="btn-registrar">
            <button class="btn-agregar">Guardar cambios</button>
        </div>
    </form>
    <script src="{{ url_for('static',filename='javascript/contDinamico.js') }}"></script>
</body>
</html>
