<!DOCTYPE html>
{% extends "administrador.html" %}
{% block contenido_admin %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
    <title>Registrar Recolector</title>
</head>
<body>
    <form action="{{ url_for('recolector.agg_recolector') }}" method="POST" class="form-registro nuevo-recolector">
        <label for="nombre" class="input-nombre input-cont">
            <span>Nombre</span>
            <input type="text" name="nombre" id="" placeholder="nombre" required autocomplete="off">
        </label>
        <label for="correo" class="input-correo input-cont">
            <span>Correo</span>
            <input type="email" name="correo" id="" placeholder="correo" required autocomplete="off">
        </label>
        <label for="telefono" class="input-telefono input-cont">
            <span>Telefono</span>
            <input type="number" name="telefono" id="" placeholder="telefono" required autocomplete="off">
        </label>
        <label for="direccion" class="input-direccion input-cont">
            <span>Dirección</span>
            <input type="text" name="direccion" id="" placeholder="direccion" required autocomplete="off">
        </label>
        <div class="input-comuna input-cont">
            <span>Comuna</span>
            <select name="id_comuna">
                <option value="" disabled selected="true">Comuna</option>
                <option value="1">COMUNA 1</option>
                <option value="2">COMUNA 2</option>
                <option value="3">COMUNA 3</option>
                <option value="4">COMUNA 4</option>
                <option value="5">COMUNA 5</option>
                <option value="6">COMUNA 6</option>
                <option value="7">COMUNA 7</option>
            </select>
        </div>
        <div class="input-barrio input-cont">
            <span>Barrio</span>
            <select name="id_barrio" id="id_barrio">
                <option value="" disabled selected="true">Barrio</option>
                <option value="1">LA NUEVA ESPERANZA</option>
                <option value="2">EL CINCUENTENARIO ETAPA I</option>
                <option value="3">PROVIVIENDA</option>
            </select>
        </div>
        <label for="usuario" class="input-usuario input-cont">
            <span>Cedula</span>
            <input type="text" placeholder="Cedula" name="cedula" required autocomplete="off">
        </label>
        <div class="btn-registrar">
            <button class="btn-agregar">REGISTRAR</button>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static',filename='javascript/validaciones.js') }}"></script>
</body>
</html>
{% endblock %}