<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-admin.css') }}">
    <title>Solicitudes</title>
</head>
{% extends "administrador.html" %}
{% block contenido_admin %}
<body>
        <div class="estadisticas">
            <div class="dato-estadistico">
                <div class="grafica">
                    <img src="{{url_for('static', filename='imagenes/caja.png' )}}" alt="foto" class="img-estadistica">
                </div>
                <div>
                    <div class="leyenda">
                        <h3><b>234</b> Realizadas</h3>
                    </div>
                    <span>Recolecciones</span>
                </div>
            </div>
            <div class="dato-estadistico">
                <div class="grafica">
                    <img src="{{url_for('static', filename='imagenes/aceite.png' )}}" alt="" class="img-estadistica">
                </div>
                <div>
                    <div class="leyenda">
                        <h3><b>32</b> Kg</h3>
                    </div>
                    <span>ACU recolectados</span>
                </div>
            </div>
            <div class="dato-estadistico">
                <div class="grafica">
                    <img src="{{url_for('static', filename='imagenes/personas.png' )}}" alt="" class="img-estadistica">
                </div>
                <div>
                    <div class="leyenda">
                        <h3><b>32</b> Familias</h3>
                    </div>
                    <span>Contribuyendo</span>
                </div>
            </div>
        </div>   
        <div class="cont-tabla">
            <table class="mostrar-solicitudes" >
                <thead>
                    <tr>
                        <th scoope="col">Proveedor</th>
                        <th scoope="col">Barrio</th>
                        <th scoope="col">Comuna</th>
                        <th scoope="col">Fecha</th>
                        <th scoope="col">Recolector</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>KEVIN ESTEVAN GUTIERREZ ZARATE</td>
                        <td>NUEVA ESPERANZA</td>
                        <td>COMUNA 5</td>
                        <td>22-05-2023</td>
                        <td class="celda-asignar">
                            <select name="" id="">
                                <option value="">Sin asignar</option>
                                <option value="">Recolector 1</option>
                                <option value="">Recolector 2</option>
                                <option value="">Recolector 3</option>
                                <option value="">Recolector 4</option>
                                <option value="">Recolector 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>KEVIN ESTEVAN GUTIERREZ ZARATE</td>
                        <td>NUEVA ESPERANZA</td>
                        <td>COMUNA 5</td>
                        <td>22-05-2023</td>
                        <td class="celda-asignar">
                            <select name="" id="">
                                <option value="">Sin asignar</option>
                                <option value="">Recolector 1</option>
                                <option value="">Recolector 2</option>
                                <option value="">Recolector 3</option>
                                <option value="">Recolector 4</option>
                                <option value="">Recolector 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>KEVIN ESTEVAN GUTIERREZ ZARATE</td>
                        <td>NUEVA ESPERANZA</td>
                        <td>COMUNA 5</td>
                        <td>22-05-2023</td>
                        <td class="celda-asignar">
                            <select name="" id="">
                                <option value="">Sin asignar</option>
                                <option value="">Recolector 1</option>
                                <option value="">Recolector 2</option>
                                <option value="">Recolector 3</option>
                                <option value="">Recolector 4</option>
                                <option value="">Recolector 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>KEVIN ESTEVAN GUTIERREZ ZARATE</td>
                        <td>NUEVA ESPERANZA</td>
                        <td>COMUNA 5</td>
                        <td>22-05-2023</td>
                        <td calss="celda-asignar">
                            <select name="" id="">
                                <option value="">Sin asignar</option>
                                <option value="">Recolector 1</option>
                                <option value="">Recolector 2</option>
                                <option value="">Recolector 3</option>
                                <option value="">Recolector 4</option>
                                <option value="">Recolector 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>KEVIN ESTEVAN GUTIERREZ ZARATE</td>
                        <td>NUEVA ESPERANZA</td>
                        <td>COMUNA 5</td>
                        <td>22-05-2023</td>
                        <td class="celda-asignar">
                            <select name="" id="">
                                <option value="">Sin asignar</option>
                                <option value="">Recolector 1</option>
                                <option value="">Recolector 2</option>
                                <option value="">Recolector 3</option>
                                <option value="">Recolector 4</option>
                                <option value="">Recolector 5</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn-agregar asignar">ASIGNAR</button>
        </div>
</body>
{% endblock %}
<script src=""></script>
</html>
