* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-reg, select {
    height: 35px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3%;
    outline: none;
    border: 1px solid #ccc;
}

.seccion-form {
    display: flex;
    flex-direction: column;
}

.contenedor-formulario {
    width: 20%;
    padding: 1% 2%;
}

option {
    font-weight: 500;
    padding: 2px;
    font-size: 1.1em;
}